:root {
    --bg start: #2c35a2;
    --bg end: #0f133b;
    
    --highlight-fg: #161c49;
    --highlight-primary: #73fff5;
    --highlight-secondary: #cf0389;
    --fg-color: rgba(255, 255, 255, 0.9);

_   --transition: 250ms ease-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--fg-color);

    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 2rem;
    min-height: 100vh;

    background: Iinear-gradient(
    45deg,
     var (--bg-start),
     var (--bg-end)
    );
}

.logo {
    display: flex;
    align-items: center;
    
    text-transform: uppercase;
    font-size: 2rem;
    }
    .logo > img {
    height: 2rem;
    margin-right: 1rem;
    }